@import url('https://fonts.googleapis.com/css?family=Work+Sans: 100, PT+Sans: 400, 700');


$accent: #628395;
$header: #506C64;
$white: #fff;
$dark-gray: #403F4C;
$dark-background: #220C10;
$light-complement: #8FBED8;
$light-background: #CACACA;
$millenial-pink: #E0E9DC;
$dark-complement: $dark-background;
$content-padding: 20px 10% 30px;
$title-font: 'Work Sans';
$content-font: 'PT Sans';

// $millenial-pink: #EBBAB9;
