// Eletric Tropic
$primary-accent: #67C8AC;
$secondary-accent: #0D2830;
$ternary-accent: #EE6352;
$cool-background: #EDEDED;
$warm-background: #FFE3DC;
$dark-gray: #8F9491;
$light-gray: #C2C5CE;
$white: #fff;
$crazy-accent: #5DFDCB;

//The wolf and the sheep
// $primary-accent: #67C8AC;
// $secondary-accent: #161338;
// $cool-background: #D4DCFF;
// $warm-background: #FAC8CD;
// $dark-gray: #5a5852;
// $light-gray: #C2C5CE;
// $white: #fff;
