@import './_variables';

.boxContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.box {
  align-items: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.bodyLink {
  align-items: center;
  color: $dark-gray;
  background: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-decoration: none;
  text-shadow: none;
  font-weight: 500;
}

.contentBody {
  background: $white;
  border-radius: 3px;
  border: 5px solid $primary-accent;
  padding: 10px 30px 30px;
  width: 1000px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-left: none;
  border: 1px solid $dark-gray;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
}

.title {
  display: flex;
  margin: 10px;
}

.pageTitle {
  color: $dark-gray;
  margin-top: 15px !important;
}

.secondaryTitle {
  color: $ternary-accent;
}

.header {
  margin-left: 0;
}

.linkTitle {
  border-bottom: 2px solid $dark-gray;
  color: $dark-gray;
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 10px !important;
}
