@import './_variables';

h1 {
  margin-top: 0;
}

.outerContainer {
  @include page-background;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}

.innerContainer {
  margin: 0 auto;
  padding: 1.25rem 1rem;
}

.nav {
  float: right;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.siteTitle {
  color: $secondary-accent;
  margin: 0 0 30px;

  h5,
  h1 {
    margin: 5px 0;
  }

  h1 {
    color: $primary-accent;
  }

  h5 {
    color: $secondary-accent;
  }
}

.headerWrapper,
.contentWrapper {
  display: flex;
  justify-content: center;
}

.linkContainer {
  margin: 0 10px;

  a {
    text-shadow: none;
  }
}

:global {
  a {
    color: $secondary-accent;
    background: none;
  }
}

.navLink {
  background: none;
}
