$primary-accent: #67c8ac;
$secondary-accent: linear-gradient(135deg, rgb(143, 83, 215), rgb(61, 109, 223));
$dark-neutral: #2F323A;
$dark-font: #161338;
$light-font: #fff;
$cool-background: #D4DCFF;
$warm-background: #FAC8CD;
